version: '3'
services:
  mongo-connector:
    image: yeasy/mongo-connector
    depends_on:
      - elasticsearch
      - mongo1
    environment:
      - MONGO=db_mongo1
    external_links:
      - mongo1
      - elasticsearch
    networks:
      - elastic_esnet
      - mongo

networks:
  elastic_esnet:
    external: true
  mongo:
    external: true