version: '3'

services:
  whoami:
    image: tutum/hello-world
    environment:
      - VIRTUAL_HOST=demo.arno-birchler.com
    networks:
      - proxy_nginx
networks:
    proxy_nginx:
        external: true